@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "Moniqa";
  src: url("../../public/assets/fonts/Moniqa-ExtLtCondHeading.ttf") format("truetype");
}
@font-face {
  font-family: "MoniqaBd";
  src: url("../../public/assets/fonts/Moniqa-ExtBdCondItaHeading.ttf") format("truetype");
}
.preview__container--text,
.about__experience,
h2,
.contacts__text {
  font-family: "Moniqa", Times, sans-serif;
  font-style: normal;
  font-size: clamp(2.75rem, 2.561rem + 1.439vw, 4rem);
  font-weight: 200;
  text-transform: uppercase;
}

body {
  font-family: "Inter", Times, sans-serif;
  font-style: italic;
  font-size: clamp(0.875rem, 0.818rem + 0.432vw, 1.25rem);
}

.about__experience--bold,
.about__experience--bold-2 {
  font-family: "MoniqaBd", Times, sans-serif;
}

.about__text--main {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 90px;
  font-weight: 200;
}

.about__text p,
.about__experience--text p {
  margin: 0;
}

.about__experience {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 0;
}

.about__experience,
.about__experience--bold,
.about__experience--bold-2 {
  color: #724C9D;
  text-transform: none;
  font-style: italic;
}

.about__experience--text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.about__experience--text:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.about__experience--text:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}

.about__experience--text:nth-child(3) {
  grid-column: 3;
  grid-row: 3;
  padding-left: 45px;
}

@media (min-width: 1024px) {
  .about__text--main {
    /*70-100*/
    margin: 0 clamp(4.375rem, -0.24rem + 7.212vw, 6.25rem);
  }
  .about__text {
    /*15-20*/
    gap: clamp(0.938rem, 0.168rem + 1.202vw, 1.25rem);
    /*375-475*/
    max-width: clamp(23.438rem, 8.053rem + 24.038vw, 29.688rem);
    padding-top: 20px;
    padding-right: 90px;
  }
  .about__experience {
    /*30-40*/
    font-size: clamp(1.875rem, 0.337rem + 2.404vw, 2.5rem);
    /*15-20*/
    padding-top: clamp(0.938rem, 0.168rem + 1.202vw, 1.25rem);
  }
  .about__experience--text {
    /*30-40*/
    line-height: clamp(1.875rem, 0.337rem + 2.404vw, 2.5rem);
  }
  .about__experience--bold {
    /*54-84*/
    font-size: clamp(3.375rem, -1.24rem + 7.212vw, 5.25rem);
  }
  .about__experience--bold-2 {
    padding-left: 7px;
    /*35-50*/
    font-size: clamp(2.188rem, -0.12rem + 3.606vw, 3.125rem);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .about__text--main {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 50px;
    margin: 0 60px;
  }
  .about__text {
    /*7-10*/
    gap: clamp(0.438rem, -0.125rem + 1.172vw, 0.625rem);
    /*415-485*/
    max-width: clamp(25.938rem, 12.813rem + 27.344vw, 30.313rem);
    padding-top: 0;
    padding-right: 0;
    align-items: center;
    text-align: center;
  }
  .about__experience {
    /*30-50*/
    gap: clamp(1.875rem, -1.875rem + 7.813vw, 3.125rem);
    /*25-30*/
    font-size: clamp(1.563rem, 0.625rem + 1.953vw, 1.875rem);
    padding-top: 0;
    padding-right: 35px;
  }
  .about__experience--text {
    /*25-31*/
    line-height: clamp(1.563rem, 0.438rem + 2.344vw, 1.938rem);
  }
  .about__experience--bold {
    /*44-54*/
    font-size: clamp(2.75rem, 0.875rem + 3.906vw, 3.375rem);
  }
  .about__experience--bold-2 {
    padding-left: 7px;
    /*34-38*/
    font-size: clamp(2.125rem, 1.375rem + 1.563vw, 2.375rem);
  }
}
/* MOBILE HEADER */
.hamburger {
  display: block;
  position: fixed;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #FFFFFF;
}

.hamburger.active .bar {
  background-color: #724C9D;
}

.nav-menu {
  display: flex;
  position: fixed;
  left: -100%;
  top: 0;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.3s;
}

.nav-menu.active {
  left: -10px;
  padding: 20px;
}

.mobile-header__item {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FFFFFF;
  border: 2px solid #724C9D;
  border-radius: 50px;
  box-shadow: 2px 4px 8px 2px rgba(34, 60, 80, 0.2);
  /*min 20px max 28px */
  font-size: clamp(1.25rem, 1.11rem + 1.124vw, 1.75rem);
  /* Увеличен размер шрифта */
  color: #724C9D;
  white-space: normal;
  transition: transform 0.3s;
  /*min15px max35px*/
  max-height: clamp(0.938rem, 0.586rem + 2.809vw, 2.188rem);
  padding: 20px 15px;
  /*min 170px max 300px*/
  width: clamp(10.625rem, 8.343rem + 18.258vw, 18.75rem);
  transition: transform 0.3s;
}

.mobile-header__item:hover {
  background-color: #724C9D;
  border: 2px solid #724C9D;
  color: #FFFFFF;
  transform: scale(1.1);
}

.mobile-header__item:active {
  background-color: #724C9D;
  border: 2px solid #724C9D;
  color: #FFFFFF;
}

/* MOBILE HEADER */
.preview__container {
  display: flex;
  flex-direction: column;
  background-image: url(../../public/assets/images/preview-background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.preview__container--text,
.preview__container--btn--main {
  padding-left: 70px;
}

.header__container--logo img {
  padding-top: 30px;
  padding-left: 50px;
  height: clamp(3.125rem, 1.769rem + 10.846vw, 11.938rem);
}

.header__container--logo img,
.header__nav {
  padding-top: 30px;
}

.header__nav {
  padding-right: 80px;
}

.header__ul {
  list-style: none;
}

.header__li {
  display: inline;
}

.header__li a,
.preview__container--btn {
  text-decoration: none;
}

.header__li a,
.preview__container--btn,
.preview__container--text {
  color: #FFFFFF;
}

.preview__container--text {
  font-family: "Moniqa", Times, sans-serif;
  font-size: clamp(3.125rem, 2.419rem + 5.645vw, 7.5rem);
  font-weight: 100;
  letter-spacing: 5px;
}

.preview__container--btn {
  background-color: rgba(245, 245, 245, 0.18);
  border: 2px solid #FFFFFF;
  border-radius: 76px;
  font-weight: 100;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

@media (min-width: 1024px) {
  /* MOBILE HEADER */
  .hamburger,
  .nav-menu,
  .bar {
    display: none;
    cursor: pointer;
  }
  /* MOBILE HEADER */
  .preview__container {
    height: clamp(40.875rem, 10.106rem + 48.077vw, 53.375rem);
    gap: clamp(0.625rem, -0.913rem + 2.404vw, 1.25rem);
  }
  .header__ul {
    white-space: nowrap;
  }
  .header__li {
    padding-inline: clamp(0.938rem, -1.832rem + 4.327vw, 2.063rem);
  }
  .preview__container--text {
    max-width: 900px;
    line-height: clamp(5rem, 1.923rem + 4.808vw, 6.25rem);
  }
  .preview__container--btn {
    padding: clamp(0.963rem, 0.039rem + 1.442vw, 1.337rem) clamp(5rem, 0.385rem + 7.212vw, 6.875rem);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .preview__container {
    height: clamp(34.625rem, 15.875rem + 39.063vw, 40.875rem);
    gap: 10px;
  }
  .header__container--logo img {
    /*40-50*/
    padding-left: clamp(2.5rem, 0.625rem + 3.906vw, 3.125rem);
  }
  .header__nav {
    display: none;
  }
  .header__container--logo img {
    /*20-30*/
    padding-top: clamp(1.25rem, -0.625rem + 3.906vw, 1.875rem);
  }
  .preview__container--text,
  .preview__container--btn--main {
    /*50-70*/
    padding-left: clamp(3.125rem, -0.625rem + 7.813vw, 4.375rem);
  }
  .preview__container--text {
    /*700-800*/
    max-width: clamp(43.75rem, 25rem + 39.063vw, 50rem);
    /*70-80*/
    line-height: clamp(4.375rem, 2.5rem + 3.906vw, 5rem);
  }
  .preview__container--btn {
    /*12-15 73-80*/
    padding: clamp(0.75rem, 0.188rem + 1.172vw, 0.938rem) clamp(4.563rem, 3.25rem + 2.734vw, 5rem);
  }
}
@media (max-width: 768px) {
  .preview__container {
    /*150-450 for 250-768*/
    height: clamp(9.375rem, 0.326rem + 57.915vw, 28.125rem);
    /*1-50*/
    gap: clamp(0.063rem, -1.416rem + 9.459vw, 3.125rem);
  }
  .header__nav {
    display: none;
  }
  .header__container--logo img {
    /*5-20*/
    padding-top: clamp(0.313rem, -0.14rem + 2.896vw, 1.25rem);
    /*10-40*/
    padding-left: clamp(0.625rem, -0.28rem + 5.792vw, 2.5rem);
  }
  .preview__container--text {
    /*20-60*/
    font-size: clamp(1.25rem, 0.043rem + 7.722vw, 3.75rem);
    /*200-600*/
    max-width: clamp(12.5rem, 0.434rem + 77.22vw, 37.5rem);
    /*20-55*/
    line-height: clamp(1.25rem, 0.194rem + 6.757vw, 3.438rem);
    /*1-5*/
    letter-spacing: clamp(0.063rem, -0.058rem + 0.772vw, 0.313rem);
  }
  .preview__container--text p {
    margin: 0;
  }
  .preview__container--btn--main {
    display: flex;
  }
  .preview__container--btn {
    /*1-12 25-73*/
    padding: clamp(0.063rem, -0.269rem + 2.124vw, 0.75rem) clamp(1.563rem, 0.115rem + 9.266vw, 4.563rem);
    /*0.2-2*/
    border: clamp(0.013rem, -0.042rem + 0.347vw, 0.125rem) solid #FFFFFF;
    /*3-16*/
    font-size: clamp(0.188rem, -0.205rem + 2.51vw, 1rem);
  }
  .preview__container--text,
  .preview__container--btn--main {
    /*30-50*/
    padding-left: clamp(1.875rem, 1.272rem + 3.861vw, 3.125rem);
  }
}
/* + размер текста с портфолио Больше фотографий добавить сюда */
.about__text,
.items__text {
  /*9-18*/
  font-size: clamp(0.563rem, 0.444rem + 0.756vw, 1.125rem);
}

h2,
.contacts__text {
  /*21-84*/
  font-size: clamp(1.313rem, 0.485rem + 5.294vw, 5.25rem);
  color: #724C9D;
}

h2 {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
