@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "Moniqa";
  src: url("../../public/assets/fonts/Moniqa-ExtLtCondHeading.ttf") format("truetype");
}
@font-face {
  font-family: "MoniqaBd";
  src: url("../../public/assets/fonts/Moniqa-ExtBdCondItaHeading.ttf") format("truetype");
}
.preview__container--text,
.about__experience,
h2,
.contacts__text,
.services__h2--modal {
  font-family: "Moniqa", Times, sans-serif;
  font-style: normal;
  font-size: clamp(2.75rem, 2.561rem + 1.439vw, 4rem);
  font-weight: 200;
  text-transform: uppercase;
}

body {
  font-family: "Inter", Times, sans-serif;
  font-style: italic;
  font-size: clamp(0.875rem, 0.818rem + 0.432vw, 1.25rem);
}

.about__experience--bold,
.about__experience--bold-2 {
  font-family: "MoniqaBd", Times, sans-serif;
}

.about__text--main {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 90px;
  font-weight: 200;
}

.about__text p,
.about__experience--text p {
  margin: 0;
}

.about__experience {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 0;
}

.about__experience,
.about__experience--bold,
.about__experience--bold-2 {
  color: #724C9D;
  text-transform: none;
  font-style: italic;
}

.about__experience--text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.about__experience--text:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.about__experience--text:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}

.about__experience--text:nth-child(3) {
  grid-column: 3;
  grid-row: 3;
  padding-left: 45px;
}

@media (min-width: 1024px) {
  .about__text--main {
    /*70-100*/
    margin: 0 clamp(4.375rem, -0.24rem + 7.212vw, 6.25rem);
  }
  .about__text {
    /*15-20*/
    gap: clamp(0.938rem, 0.168rem + 1.202vw, 1.25rem);
    /*375-475*/
    max-width: clamp(23.438rem, 8.053rem + 24.038vw, 29.688rem);
    padding-top: 20px;
    padding-right: 90px;
  }
  .about__experience {
    /*30-40*/
    font-size: clamp(1.875rem, 0.337rem + 2.404vw, 2.5rem);
    /*15-20*/
    padding-top: clamp(0.938rem, 0.168rem + 1.202vw, 1.25rem);
  }
  .about__experience--text {
    /*30-40*/
    line-height: clamp(1.875rem, 0.337rem + 2.404vw, 2.5rem);
  }
  .about__experience--bold {
    /*54-84*/
    font-size: clamp(3.375rem, -1.24rem + 7.212vw, 5.25rem);
  }
  .about__experience--bold-2 {
    padding-left: 7px;
    /*35-50*/
    font-size: clamp(2.188rem, -0.12rem + 3.606vw, 3.125rem);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .about__text--main {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 50px;
    margin: 0 60px;
  }
  .about__text {
    /*7-10*/
    gap: clamp(0.438rem, -0.125rem + 1.172vw, 0.625rem);
    /*415-485*/
    max-width: clamp(25.938rem, 12.813rem + 27.344vw, 30.313rem);
    padding-top: 0;
    padding-right: 0;
    align-items: center;
    text-align: center;
  }
  .about__experience {
    /*30-50*/
    gap: clamp(1.875rem, -1.875rem + 7.813vw, 3.125rem);
    /*25-30*/
    font-size: clamp(1.563rem, 0.625rem + 1.953vw, 1.875rem);
    padding-top: 0;
    padding-right: 35px;
  }
  .about__experience--text {
    /*25-31*/
    line-height: clamp(1.563rem, 0.438rem + 2.344vw, 1.938rem);
  }
  .about__experience--bold {
    /*44-54*/
    font-size: clamp(2.75rem, 0.875rem + 3.906vw, 3.375rem);
  }
  .about__experience--bold-2 {
    padding-left: 7px;
    /*34-38*/
    font-size: clamp(2.125rem, 1.375rem + 1.563vw, 2.375rem);
  }
}
@media (max-width: 768px) {
  .about__text--main {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    /*30-50*/
    gap: clamp(1.875rem, 0.882rem + 4.673vw, 3.125rem);
    /*30-50*/
    margin: 0 clamp(1.875rem, 0.882rem + 4.673vw, 3.125rem);
  }
  .about__text {
    /*7-10*/
    gap: clamp(0.438rem, -0.125rem + 1.172vw, 0.625rem);
    /*210-340*/
    max-width: clamp(13.125rem, 6.671rem + 30.374vw, 21.25rem);
    padding-top: 0;
    padding-right: 0;
    align-items: center;
    text-align: center;
  }
  .about__experience {
    /*5-30*/
    gap: clamp(0.313rem, -0.929rem + 5.841vw, 1.875rem);
    /*17-23*/
    font-size: clamp(1.063rem, 0.765rem + 1.402vw, 1.438rem);
    padding-top: 0;
    /*20-*/
    padding-right: 20px;
  }
  .about__experience--text {
    /*18-24*/
    line-height: clamp(1.125rem, 0.827rem + 1.402vw, 1.5rem);
  }
  .about__experience--text:nth-child(3) {
    /*25-*/
    padding-left: 25px;
  }
  .about__experience--bold {
    /*25-38*/
    font-size: clamp(1.563rem, 0.917rem + 3.037vw, 2.375rem);
  }
  .about__experience--bold-2 {
    /*3-7*/
    padding-left: clamp(0.188rem, -0.011rem + 0.935vw, 0.438rem);
    /*20-28*/
    font-size: clamp(1.25rem, 0.853rem + 1.869vw, 1.75rem);
  }
}
/* MOBILE HEADER */
.hamburger {
  display: block;
  position: fixed;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #FFFFFF;
}

.hamburger.active .bar {
  background-color: #724C9D;
}

.nav-menu {
  display: flex;
  position: fixed;
  left: -100%;
  top: 0;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.3s;
}

.nav-menu.active {
  left: -10px;
  padding: 20px;
}

.mobile-header__item {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FFFFFF;
  border: 2px solid #724C9D;
  border-radius: 50px;
  box-shadow: 2px 4px 8px 2px rgba(34, 60, 80, 0.2);
  /*min 20px max 28px */
  font-size: clamp(1.25rem, 1.11rem + 1.124vw, 1.75rem);
  /* Увеличен размер шрифта */
  color: #724C9D;
  white-space: normal;
  transition: transform 0.3s;
  /*min15px max35px*/
  max-height: clamp(0.938rem, 0.586rem + 2.809vw, 2.188rem);
  padding: 20px 15px;
  /*min 170px max 300px*/
  width: clamp(10.625rem, 8.343rem + 18.258vw, 18.75rem);
  transition: transform 0.3s;
}

.mobile-header__item:hover {
  background-color: #724C9D;
  border: 2px solid #724C9D;
  color: #FFFFFF;
  transform: scale(1.1);
}

.mobile-header__item:active {
  background-color: #724C9D;
  border: 2px solid #724C9D;
  color: #FFFFFF;
}

/* MOBILE HEADER */
.preview__container {
  display: flex;
  flex-direction: column;
  background-image: url(../../public/assets/images/preview-background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.preview__container--text,
.preview__container--btn--main {
  padding-left: 70px;
}

.header__container--logo img {
  padding-top: 30px;
  padding-left: 50px;
  height: clamp(3.125rem, 1.769rem + 10.846vw, 11.938rem);
}

.header__container--logo img,
.header__nav {
  padding-top: 30px;
}

.header__nav {
  padding-right: 80px;
}

.header__ul {
  list-style: none;
}

.header__li {
  display: inline;
}

.header__li a,
.preview__container--btn {
  text-decoration: none;
}

.header__li a,
.preview__container--btn,
.preview__container--text {
  color: #FFFFFF;
}

.preview__container--text {
  font-family: "Moniqa", Times, sans-serif;
  font-size: clamp(3.125rem, 2.419rem + 5.645vw, 7.5rem);
  font-weight: 100;
  letter-spacing: 5px;
}

.preview__container--btn {
  background-color: rgba(245, 245, 245, 0.18);
  border: 1px solid #FFFFFF;
  border-radius: 76px;
  font-weight: 100;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

@media (min-width: 1024px) {
  /* MOBILE HEADER */
  .hamburger,
  .nav-menu,
  .bar {
    display: none;
    cursor: pointer;
  }
  /* MOBILE HEADER */
  .preview__container {
    height: clamp(40.875rem, 10.106rem + 48.077vw, 53.375rem);
    gap: clamp(0.625rem, -0.913rem + 2.404vw, 1.25rem);
  }
  .header__ul {
    white-space: nowrap;
  }
  .header__li {
    padding-inline: clamp(0.938rem, -1.832rem + 4.327vw, 2.063rem);
  }
  .preview__container--text {
    max-width: 900px;
    line-height: clamp(5rem, 1.923rem + 4.808vw, 6.25rem);
  }
  .preview__container--btn {
    padding: clamp(0.963rem, 0.039rem + 1.442vw, 1.337rem) clamp(5rem, 0.385rem + 7.212vw, 6.875rem);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .preview__container {
    height: clamp(34.625rem, 15.875rem + 39.063vw, 40.875rem);
    gap: 10px;
  }
  .header__container--logo img {
    /*40-50*/
    padding-left: clamp(2.5rem, 0.625rem + 3.906vw, 3.125rem);
  }
  .header__nav {
    display: none;
  }
  .header__container--logo img {
    /*20-30*/
    padding-top: clamp(1.25rem, -0.625rem + 3.906vw, 1.875rem);
  }
  .preview__container--text,
  .preview__container--btn--main {
    /*50-70*/
    padding-left: clamp(3.125rem, -0.625rem + 7.813vw, 4.375rem);
  }
  .preview__container--text {
    /*700-800*/
    max-width: clamp(43.75rem, 25rem + 39.063vw, 50rem);
    /*70-80*/
    line-height: clamp(4.375rem, 2.5rem + 3.906vw, 5rem);
  }
  .preview__container--btn {
    /*12-15 73-80*/
    padding: clamp(0.75rem, 0.188rem + 1.172vw, 0.938rem) clamp(4.563rem, 3.25rem + 2.734vw, 5rem);
  }
}
@media (max-width: 768px) {
  .preview__container {
    /*200-500 for 340-768*/
    height: clamp(12.5rem, -2.395rem + 70.093vw, 31.25rem);
    /*1-50*/
    gap: clamp(0.063rem, -1.416rem + 9.459vw, 3.125rem);
  }
  .header__nav {
    display: none;
  }
  .header__container--logo img {
    /*5-20*/
    padding-top: clamp(0.313rem, -0.14rem + 2.896vw, 1.25rem);
    /*10-40*/
    padding-left: clamp(0.625rem, -0.28rem + 5.792vw, 2.5rem);
  }
  .preview__container--text {
    /*20-60*/
    font-size: clamp(1.25rem, 0.043rem + 7.722vw, 3.75rem);
    /*200-600*/
    max-width: clamp(12.5rem, 0.434rem + 77.22vw, 37.5rem);
    /*20-55*/
    line-height: clamp(1.25rem, 0.194rem + 6.757vw, 3.438rem);
    /*1-5*/
    letter-spacing: clamp(0.063rem, -0.058rem + 0.772vw, 0.313rem);
  }
  .preview__container--text p {
    margin: 0;
  }
  .preview__container--btn--main {
    display: flex;
  }
  .preview__container--btn {
    /*1-12 25-73*/
    padding: clamp(0.063rem, -0.269rem + 2.124vw, 0.75rem) clamp(1.563rem, 0.115rem + 9.266vw, 4.563rem);
    /*0.2-0.8*/
    border: clamp(0.013rem, -0.012rem + 0.128vw, 0.05rem) solid #FFFFFF;
    /*3-16*/
    font-size: clamp(0.188rem, -0.205rem + 2.51vw, 1rem);
  }
  .preview__container--text,
  .preview__container--btn--main {
    /*30-50*/
    padding-left: clamp(1.875rem, 1.272rem + 3.861vw, 3.125rem);
  }
}
/* gallery */
.portfolio__gallery--main {
  width: 1400px;
  margin: 0 auto;
  columns: 3;
  column-gap: 35px;
}

.portfolio__gallery--main .portfolio__gallery {
  width: 100%;
  margin-bottom: 10px;
}

.portfolio__gallery--main .portfolio__gallery img {
  max-width: 100%;
  margin: 20px auto 20px;
}

@media (max-width: 1441px) {
  .portfolio__gallery--main .portfolio__gallery img {
    margin: 10px auto 10px;
  }
}
@media (min-width: 1025px) and (max-width: 1441px) {
  .portfolio__gallery--main {
    width: 80%;
    column-gap: 25px;
  }
}
@media (max-width: 1025px) {
  .portfolio__gallery--main {
    width: calc(100% - 180px);
    column-gap: 15px;
  }
  .portfolio__gallery--main .portfolio__gallery img {
    margin: 5px auto 5px;
  }
}
@media (min-width: 769px) {
  .portfolio__slider--main {
    display: none;
  }
}
@media (max-width: 769px) {
  .portfolio__gallery--main {
    display: none;
  }
  body .slick-prev:before {
    color: #724C9D;
  }
  body .slick-next:before {
    color: #724C9D;
  }
  .portfolio-slider-mobile .slick-prev {
    left: -45px;
  }
  .portfolio-slider-mobile .slick-next {
    right: -45px;
  }
  .portfolio__slider--main {
    margin: 0 auto;
  }
  .portfolio__slider--main .portfolio__img--slider {
    width: 100%;
  }
  img.portfolio__img--slider.slick-slide {
    width: 100%;
  }
}
@media (min-width: 541px) and (max-width: 769px) {
  .portfolio__slider--main {
    /*400-500*/
    width: clamp(25rem, 10.262rem + 43.668vw, 31.25rem);
  }
}
@media (min-width: 430px) and (max-width: 541px) {
  .portfolio__slider--main {
    /*250-350*/
    width: clamp(15.625rem, -8.587rem + 90.09vw, 21.875rem);
  }
}
@media (max-width: 430px) {
  .portfolio__slider--main {
    /*150-250*/
    width: clamp(9.375rem, -5.048rem + 76.923vw, 15.625rem);
  }
  .portfolio-slider-mobile .slick-prev {
    left: -35px;
  }
  .portfolio-slider-mobile .slick-next {
    right: -35px;
  }
}
/*hide scroll*/
.jBox-Modal .jBox-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.jBox-Modal .jBox-container::-webkit-scrollbar {
  display: none;
}
.jBox-Modal .jBox-content {
  overflow-y: auto;
  scrollbar-width: none;
}
.jBox-Modal .jBox-content::-webkit-scrollbar {
  display: none;
}

/*hide scroll*/
.services__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-weight: 200;
  /*3-25*/
  gap: clamp(0.188rem, -0.067rem + 1.358vw, 1.563rem);
}

.services__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  border: 1px solid #724C9D;
  background-color: rgba(114, 76, 157, 0.23);
}

.services__item,
.services__img img {
  /*70-400*/
  height: clamp(4.375rem, 0.556rem + 20.37vw, 25rem);
}

.services__item,
.services__img img,
.services__img--modal,
.services__img--modal--short {
  /*3-20*/
  border-radius: clamp(0.188rem, -0.009rem + 1.049vw, 1.25rem);
}

.services__img img {
  width: 100%;
}

.services__text--container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.services__text,
.services__btn {
  /*12-20*/
  font-size: clamp(0.75rem, 0.179rem + 1.19vw, 1.25rem);
  color: #724C9D;
}

.services__text {
  text-transform: uppercase;
  /*100-400*/
  max-width: clamp(6.25rem, 2.311rem + 25.21vw, 25rem);
}

.services__btn {
  text-decoration: none;
  background-color: #FFFFFF;
  border: 1px solid #724C9D;
  border-radius: 76px;
  font-weight: 200;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.jBox-Modal {
  padding-bottom: 30px;
  /*-991*/
}

.jBox-Modal .jBox-container {
  background: #ded6e8;
}

.services__item--modal,
.services__item--modal--short {
  display: flex;
}

.services__item--modal {
  justify-content: space-around;
}

.services__item--modal--short {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services__h2--modal {
  display: flex;
  justify-content: flex-start;
  letter-spacing: 5px;
  margin: 0;
}

.services__img--modal,
.services__img--modal--short {
  align-self: center;
}

.services__img--modal {
  height: 85%;
}

.services__text--modal,
.services__text--modal--short,
.services__item--modal--short {
  text-align: center;
  align-self: center;
}

@media (min-width: 1920px) {
  .services__item--modal--short {
    flex-direction: row;
    justify-content: space-around;
    height: 1100px;
  }
  .services__img--modal--short {
    height: 800px;
  }
  .services__text--modal--short {
    max-width: 450px;
  }
}
@media (min-width: 1024px) and (max-width: 1920px) {
  .services__item--modal--short {
    /*750-1400*/
    height: clamp(46.875rem, 0.446rem + 72.545vw, 87.5rem);
  }
  .services__text--modal--short {
    /*700-1350 1024-1920*/
    width: clamp(43.75rem, -2.679rem + 72.545vw, 84.375rem);
  }
}
@media (min-width: 1024px) {
  .services__h2--modal {
    /*9-13*/
    padding-top: clamp(0.563rem, 0.277rem + 0.446vw, 0.813rem);
  }
  .services__item--modal {
    /* 630-1300 1024-1920*/
    height: clamp(39.375rem, -8.482rem + 74.777vw, 81.25rem);
  }
  .services__item--modal,
  .services__item--modal--short {
    gap: 20px;
  }
  .services__img--modal {
    /*470-930*/
    max-width: clamp(29.375rem, -3.482rem + 51.339vw, 58.125rem);
  }
  .services__img--modal--short {
    /*450-900 1024-1920*/
    height: clamp(28.125rem, 10.268rem + 27.902vw, 43.75rem);
  }
  .services__text--modal {
    /*300-450*/
    max-width: clamp(15.625rem, 1.339rem + 22.321vw, 28.125rem);
  }
  .services__img img {
    max-width: 800px;
  }
  .services__btn {
    padding: clamp(0.963rem, 0.039rem + 1.442vw, 1.337rem) clamp(5rem, 0.385rem + 7.212vw, 6.875rem);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .services__h2--modal {
    /*7-9*/
    padding-top: clamp(0.438rem, 0.063rem + 0.781vw, 0.563rem);
  }
  .services__item--modal {
    /* 530-630*/
    height: clamp(33.125rem, 14.375rem + 39.063vw, 39.375rem);
  }
  .services__img--modal {
    /*320-470*/
    max-width: clamp(20rem, -8.125rem + 58.594vw, 29.375rem);
  }
  .services__text--modal {
    /*250-300*/
    max-width: clamp(12.5rem, -6.25rem + 39.063vw, 18.75rem);
  }
  .services__item--modal--short {
    /*620-800*/
    height: clamp(38.75rem, 5rem + 70.313vw, 50rem);
    gap: 15px;
  }
  .services__text--modal--short {
    /*510-590*/
    width: clamp(31.875rem, 16.875rem + 31.25vw, 36.875rem);
  }
  .services__img--modal--short {
    /*380-450*/
    height: clamp(23.75rem, 10.625rem + 27.344vw, 28.125rem);
  }
  .services__btn {
    /*12-15 73-80*/
    padding: clamp(0.75rem, 0.188rem + 1.172vw, 0.938rem) clamp(4.563rem, 3.25rem + 2.734vw, 5rem);
  }
}
@media (max-width: 768px) {
  .services__h2--modal {
    /*5-7*/
    padding-top: clamp(0.313rem, 0.232rem + 0.427vw, 0.438rem);
  }
  .services__item--modal {
    /*10-25*/
    padding-top: clamp(0.625rem, 0.024rem + 3.205vw, 1.563rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /*5-15*/
    gap: clamp(0.313rem, 0.011rem + 1.931vw, 0.938rem);
  }
  .services__img--modal {
    /*200-320*/
    max-width: clamp(12.5rem, 8.88rem + 23.166vw, 20rem);
    justify-content: center;
  }
  .services__text--modal {
    /*210-400*/
    max-width: clamp(13.125rem, 7.394rem + 36.68vw, 25rem);
  }
  .services__item--modal--short {
    /*400-550*/
    height: clamp(25rem, 18.99rem + 32.051vw, 34.375rem);
    gap: 15px;
  }
  .services__text--modal--short {
    /*200-450*/
    width: clamp(12.5rem, 2.484rem + 53.419vw, 28.125rem);
  }
  .services__img--modal--short {
    /*150-350*/
    height: clamp(9.375rem, 1.362rem + 42.735vw, 21.875rem);
  }
  .services__text,
  .services__btn {
    /*3-12*/
    font-size: clamp(0.188rem, -0.084rem + 1.737vw, 0.75rem);
  }
  .services__btn {
    /*1-12 25-73*/
    padding: clamp(0.063rem, -0.269rem + 2.124vw, 0.75rem) clamp(1.563rem, 0.115rem + 9.266vw, 4.563rem);
    /*0.2-0.8*/
    border: clamp(0.013rem, -0.012rem + 0.128vw, 0.05rem) solid #724C9D;
  }
}
@media (max-width: 540px) {
  .jBox-Modal .jBox-container .jBox-content {
    margin: 0 auto;
  }
  .jBox-container {
    /*290-420*/
    width: clamp(18.125rem, 11.121rem + 44.828vw, 26.25rem);
  }
  .services__h2--modal {
    /*2-3*/
    letter-spacing: clamp(0.125rem, 0.047rem + 0.417vw, 0.188rem);
  }
  .services__item--modal {
    /*350-380 430-540*/
    max-width: clamp(21.875rem, 14.545rem + 27.273vw, 23.75rem);
  }
}
@media (max-width: 430px) {
  .jBox-Modal .jBox-container .jBox-content {
    margin: 0 auto;
  }
}
/* + размер текста с портфолио Больше фотографий добавить сюда */
.about__text,
.items__text,
.services__text--modal,
.services__text--modal--short,
.portfolio__circle {
  /*5-30*/
  font-size: clamp(0.313rem, 0.079rem + 1.497vw, 1.875rem);
}

h2,
.contacts__text,
.services__h2--modal {
  /*21-84*/
  font-size: clamp(1.313rem, 0.485rem + 5.294vw, 5.25rem);
  color: #724C9D;
}

h2 {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
