#contacts {
    background-color: $light-purple-color;
    z-index: 1;
}

.contacts__link,
.contacts__li a,
.note-social {
    color: $light-color;
}

.contacts__ul {
    list-style: none;
}

.contacts__li {
    display: inline;
}

.contacts__link,
.contacts__li a {
    text-decoration: none;
}

.contacts__nav--logo {
    padding-top: 30px;
    padding-left: 50px;
    height: clamp(3.125rem, 1.769rem + 10.846vw, 11.938rem);
}

.contacts__text--container,
.contacts__nav--container,
.note-social p {
    display: flex;
}

.contacts__text--container {
    justify-content: start;
    gap: 23%;
    padding-left: 10%;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 4%; // Отступ от нижнего края контейнера
        left: 5%; // Совпадает с padding-left родителя
        width: 90%; // Ширина линии (100% - 2*10%)
        height: 1px;
        background: $purple-color;
    }
}

.contacts__nav--container {
    justify-content: space-evenly;
}

.contacts__text--container,
.contacts__nav--container {
    align-items: center;
}

.contacts__links--container {
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 10%;
    height: 150px;
}

.contacts__link--container {
    display: flex;
    align-items: center;
    gap: 25%;
}

.contacts__link,
.contacts__link--img,
.contacts__li a {
    transition: all 0.3s ease;
}

.contacts__link:hover {
    color: $purple-color;
}

.contacts__link--img {
    height: 45px;
}

.contacts__link--img:hover {
    transform: scale(1.08);
}

.contacts__li a:hover {
    color: $purple-color;
}

.contacts__text {
    width: 30%;
    line-height: 95%;
}

.note-social p {
    font-size: clamp(0.188rem, 0.066rem + 0.778vw, 1rem);
    justify-self: center;
    padding-bottom: 15px;
}

@media (min-width: 1024px) {
    .contacts__li {
        padding-inline: clamp(0.938rem, -1.832rem + 4.327vw, 2.063rem);
    }
}

@media (max-width: 1025px) {
    .contacts__text--container {
        flex-direction: column;
        justify-content: center;
    }

}

@media (min-width: 768px) and (max-width: 1025px) {

    .contacts__text--container {
        padding-left: 4%;
    }

    .contacts__links--container {
        padding-right: 8%;
    }

    .contacts__link--container {
        gap: 15%;
    }

    .contacts__nav--container .contacts__nav {
        width: 40%;
    }

    .contacts__nav--container .contacts__ul {
        width: 100%;
        text-align: center;
    }

    .contacts__li {
        padding-inline: 17px;
    }
}

@media (max-width: 768px) {
    .contacts__text {
        padding-left: 0;
    }

    .contacts__links--container {
        padding-right: 10%;
        height: 100px;
    }

    .contacts__nav--container {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        padding-left: 0;

    }



    .contacts__nav--container .contacts__ul {
        width: 100%;
        text-align: center;
    }

    .contacts__text {
        width: 40%;
    }

    .contacts__link--container {
        gap: 8%;
    }

    .contacts__li {
        padding-inline: 10px;
    }

    .contacts__link--img {
        height: 25px;
    }
}

@media (min-width: 541px) and (max-width: 768px) {

    .contacts__nav--container {
        padding-right: 6%;
    }

    .contacts__nav--container .contacts__nav {
        width: 80%;
    }
}

@media (min-width: 414px) and (max-width: 541px) {
    .contacts__nav--container {
        padding-right: 7%;
    }

    .contacts__nav--container .contacts__nav {
        width: 60%;
    }

    .contacts__nav {
        padding-right: 10%;
    }
}

@media (min-width: 360px) and (max-width: 415px) {
    .contacts__nav--container {
        padding-right: 9%;
    }

    .contacts__nav--container .contacts__nav {
        width: 70%;
    }

    .contacts__nav {
        padding-right: 13%;
    }
}

@media (max-width: 361px) {
    .contacts__nav--container {
        padding-right: 12%;
    }

    .contacts__nav--container .contacts__nav {
        width: 85%;
    }

    .contacts__nav {
        padding-right: 13%;
    }

    .contacts__li {
        padding-inline: 7px;
    }
}