.preview__container {
    display: flex;
    flex-direction: column;
    background-image: url(../../public/assets/images/preview-background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    // height: 854px;
    position: relative;
    overflow: hidden;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.preview__container--text,
.preview__container--btn--main {
    padding-left: 70px;
}

.header__container--logo img {
    padding-top: 30px;
    padding-left: 50px;
    height: clamp(3.125rem, 1.769rem + 10.846vw, 11.938rem);
}

.header__container--logo img,
.header__nav {
    padding-top: 30px;
}

.header__nav {
    padding-right: 80px;
}

.header__ul {
    list-style: none;
}

.header__li {
    display: inline;
}

.header__li a,
.preview__container--btn {
    text-decoration: none;
}

.header__li a,
.preview__container--btn,
.preview__container--text {
    color: $light-color;
}

.preview__container--text {
    @include primary-font-bigger;
    // padding-top: 35px;
    // height: 450px;
    font-weight: 100;
    letter-spacing: 5px;
    // line-height: 100px;
}

.preview__container--btn {
    background-color: $beige-color;
    border: 2px solid $light-color;
    border-radius: 76px;
    // padding: 21.4px 110px;
    font-weight: 100;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

@media (min-width: 1024px) {
    .preview__container {
        height: clamp(40.875rem, 10.106rem + 48.077vw, 53.375rem);
        gap: clamp(0.625rem, -0.913rem + 2.404vw, 1.25rem);
    }

    .header__ul {
        white-space: nowrap;
    }

    .header__li {
        padding-inline: clamp(0.938rem, -1.832rem + 4.327vw, 2.063rem);
    }

    .preview__container--text {
        max-width: 900px;
        line-height: clamp(5rem, 1.923rem + 4.808vw, 6.25rem);
    }

    .preview__container--btn {
        padding: clamp(0.963rem, 0.039rem + 1.442vw, 1.337rem) clamp(5rem, 0.385rem + 7.212vw, 6.875rem);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .preview__container {
        height: clamp(34.625rem, 15.875rem + 39.063vw, 40.875rem);
        gap: 10px;
    }

    .header__container--logo img {
        /*40-50*/
        padding-left: clamp(2.5rem, 0.625rem + 3.906vw, 3.125rem);
    }

    .header__nav {
        display: none;
    }

    .header__container--logo img {
        /*20-30*/
        padding-top: clamp(1.25rem, -0.625rem + 3.906vw, 1.875rem);
    }

    // .header__ul {
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: flex-end;
    //     max-width: 350px;
    // }

    // .header__li {
    //     padding-inline: 17px;
    // }

    // .service-item {
    //     margin-left: 15px;
    // }

    .preview__container--text,
    .preview__container--btn--main {
        /*50-70*/
        padding-left: clamp(3.125rem, -0.625rem + 7.813vw, 4.375rem);
    }

    .preview__container--text {
        /*700-800*/
        max-width: clamp(43.75rem, 25rem + 39.063vw, 50rem);
        /*70-80*/
        line-height: clamp(4.375rem, 2.5rem + 3.906vw, 5rem);
    }

    .preview__container--btn {
        /*12-15 73-80*/
        padding: clamp(0.75rem, 0.188rem + 1.172vw, 0.938rem) clamp(4.563rem, 3.25rem + 2.734vw, 5rem);
    }
}

@media (max-width: 768px) {
    .preview__container {
        /*150-450 for 250-768*/
        height: clamp(9.375rem, 0.326rem + 57.915vw, 28.125rem);
        /*1-50*/
        gap: clamp(0.063rem, -1.416rem + 9.459vw, 3.125rem);
    }

    .header__nav {
        display: none;
    }

    .header__container--logo img {
        /*5-20*/
        padding-top: clamp(0.313rem, -0.14rem + 2.896vw, 1.25rem);
        /*10-40*/
        padding-left: clamp(0.625rem, -0.28rem + 5.792vw, 2.5rem);
    }

    .preview__container--text {
        /*20-60*/
        font-size: clamp(1.25rem, 0.043rem + 7.722vw, 3.75rem);
        /*200-600*/
        max-width: clamp(12.5rem, 0.434rem + 77.22vw, 37.5rem);
        /*20-55*/
        line-height: clamp(1.25rem, 0.194rem + 6.757vw, 3.438rem);
        /*1-5*/
        letter-spacing: clamp(0.063rem, -0.058rem + 0.772vw, 0.313rem);
    }

    .preview__container--text p {
        margin: 0;
    }

    .preview__container--btn--main {
        display: flex;
        // justify-content: center;
        // padding-left: 0;
    }

    .preview__container--btn {
        /*1-12 25-73*/
        padding: clamp(0.063rem, -0.269rem + 2.124vw, 0.75rem) clamp(1.563rem, 0.115rem + 9.266vw, 4.563rem);
        /*0.2-2*/
        border: clamp(0.013rem, -0.042rem + 0.347vw, 0.125rem) solid $light-color;
        /*3-16*/
        font-size: clamp(0.188rem, -0.205rem + 2.51vw, 1rem);
    }

    .preview__container--text,
    .preview__container--btn--main {
        /*30-50*/
        padding-left: clamp(1.875rem, 1.272rem + 3.861vw, 3.125rem);
    }
}