.preview__container {
    display: flex;
    flex-direction: column;
    background-image: url(../../public/assets/images/preview-background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    // height: 854px;
    position: relative;
    overflow: hidden;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.preview__container--text,
.preview__container--btn--main {
    padding-left: 70px;
}

.header__container--logo img {
    padding-top: 30px;
    padding-left: 50px;
    height: clamp(3.125rem, 1.769rem + 10.846vw, 11.938rem);
}

.header__container--logo img,
.header__nav {
    padding-top: 30px;
}

.header__nav {
    padding-right: 80px;
}

.header__ul {
    list-style: none;
}

.header__li {
    display: inline;
}

.header__li a,
.preview__container--btn {
    text-decoration: none;
}

.header__li a,
.preview__container--btn,
.preview__container--text {
    color: $light-color;
}

.preview__container--text {
    @include primary-font-bigger;
    // padding-top: 35px;
    // height: 450px;
    font-weight: 100;
    letter-spacing: 5px;
    // line-height: 100px;
}

.preview__container--btn {
    background-color: $beige-color;
    border: 2px solid $light-color;
    border-radius: 76px;
    // padding: 21.4px 110px;
    font-weight: 100;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

@media (min-width: 1024px) {
    .preview__container {
        height: clamp(40.875rem, 10.106rem + 48.077vw, 53.375rem);
        gap: clamp(0.625rem, -0.913rem + 2.404vw, 1.25rem);
    }

    .header__ul {
        white-space: nowrap;
    }

    .header__li {
        padding-inline: clamp(0.938rem, -1.832rem + 4.327vw, 2.063rem);
    }

    .preview__container--text {
        max-width: 900px;
        line-height: clamp(5rem, 1.923rem + 4.808vw, 6.25rem);
    }

    .preview__container--btn {
        padding: clamp(0.963rem, 0.039rem + 1.442vw, 1.337rem) clamp(5rem, 0.385rem + 7.212vw, 6.875rem);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .preview__container {
        height: clamp(34.625rem, 15.875rem + 39.063vw, 40.875rem);
        gap: 10px;
    }

    .header__container--logo img {
        /*40-50*/
        padding-left: clamp(2.5rem, 0.625rem + 3.906vw, 3.125rem);
    }

    .header__container--logo img,
    .header__nav {
        /*20-30*/
        padding-top: clamp(1.25rem, -0.625rem + 3.906vw, 1.875rem);
    }

    .header__ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        max-width: 350px;
    }

    .header__li {
        padding-inline: 17px;
    }

    .service-item {
        margin-left: 15px;
    }

    .preview__container--text,
    .preview__container--btn--main {
        /*50-70*/
        padding-left: clamp(3.125rem, -0.625rem + 7.813vw, 4.375rem);
    }

    .preview__container--text {
        /*700-800*/
        max-width: clamp(43.75rem, 25rem + 39.063vw, 50rem);
        /*70-80*/
        line-height: clamp(4.375rem, 2.5rem + 3.906vw, 5rem);
    }

    .preview__container--btn {
        /*12-15 73-80*/
        padding: clamp(0.75rem, 0.188rem + 1.172vw, 0.938rem) clamp(4.563rem, 3.25rem + 2.734vw, 5rem);
    }
}

@media (max-width: 768px) {
    .preview__container--btn--main {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    .preview__container--btn {
        padding: 15px 60px;
    }
}