@import '_fonts.scss';

%primary-font {
    font-family: 'Moniqa', Times, sans-serif;
    font-style: normal;
    font-size: clamp(2.75rem, 2.561rem + 1.439vw, 4rem);
    font-weight: 200;
    text-transform: uppercase;
}

@mixin primary-font-bigger {
    font-family: 'Moniqa', Times, sans-serif;
    font-size: clamp(3.125rem, 2.419rem + 5.645vw, 7.5rem);
}

%secondary-font {
    font-family: 'Inter', Times, sans-serif;
    font-style: italic;
    font-size: clamp(0.875rem, 0.818rem + 0.432vw, 1.25rem);
}

%third-font {
    font-family: 'MoniqaBd', Times, sans-serif;
}