.portfolio__container {
    position: relative;
}

/* gallery*/

.portfolio__gallery--main {
    max-width: 1100px;
    margin: 0 auto;
    // padding-left: 200px;
}

.portfolio__gallery--main::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 430px;
    background: $light-purple-color;
    z-index: -1;
}

/*прямоугольник сверху*/
.portfolio__gallery--main::after {
    content: '';
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 430px;
    background: $light-purple-color;
    z-index: -1;
}

/* прямоугольник снизу */
.portfolio__container::after {
    content: '';
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 430px;
    background: $light-purple-color;
    z-index: -1;
}

.portfolio__gallery {
    width: 100%;
}

.portfolio__img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;

    img {
        width: 100%;
        height: auto;
        display: block;
        transition: all 0.3s ease;
    }
}

.portfolio__img img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px $dark-color-opacity;
}

.portfolio__img:nth-child(3n) {
    margin-right: 0;
}

/* GALLERY MODAL*/

body .jBox-overlay.jBox-overlay-Image {
    background: $dark-color-opacity;
}

.jbox-image-container .jbox-content {
    padding: 20px;
}

.jBox-wrapper .jBox-image-label-wrapper {
    top: 40%;
}

body .jBox-image-label-wrapper .jBox-image-pointer-prev {
    left: 7%;
}

.jBox-image-label-wrapper .jBox-image-pointer-next {
    right: 7%;
}

.jBox-image-label-wrapper .jBox-image-pointer-prev,
.jBox-image-label-wrapper .jBox-image-pointer-next {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 0;
}

.jBox-image-label-container {
    opacity: 0;
}

.jbox-close {
    color: white;
    font-size: 30px;
    right: 20px;
    top: 20px;
}