.services__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-weight: 200;
    /*3-25*/
    gap: clamp(0.188rem, -0.067rem + 1.358vw, 1.563rem);
}

.services__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    border: 1px solid $purple-color;
    background-color: $light-purple-color;
}

.services__item,
.services__img img {
    /*3-20*/
    border-radius: clamp(0.188rem, -0.009rem + 1.049vw, 1.25rem);
    /*70-400*/
    height: clamp(4.375rem, 0.556rem + 20.37vw, 25rem);
}

.services__img img {
    width: 100%;
}

.services__text--container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.services__text,
.services__btn {
    /*12-20*/
    font-size: clamp(0.75rem, 0.179rem + 1.19vw, 1.25rem);
    color: $purple-color;
}

.services__text {
    text-transform: uppercase;
    /*100-400*/
    max-width: clamp(6.25rem, 2.311rem + 25.21vw, 25rem);
}

.services__btn {
    text-decoration: none;
    background-color: $light-color;
    border: 1px solid $purple-color;
    border-radius: 76px;
    // padding: 21.4px 110px;
    font-weight: 200;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

@media (min-width: 1024px) {
    .services__btn {
        padding: clamp(0.963rem, 0.039rem + 1.442vw, 1.337rem) clamp(5rem, 0.385rem + 7.212vw, 6.875rem);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .services__btn {
        /*12-15 73-80*/
        padding: clamp(0.75rem, 0.188rem + 1.172vw, 0.938rem) clamp(4.563rem, 3.25rem + 2.734vw, 5rem);
    }
}

@media (max-width: 768px) {

    .services__text,
    .services__btn {
        /*3-12*/
        font-size: clamp(0.188rem, -0.084rem + 1.737vw, 0.75rem);
    }

    .services__btn {
        /*1-12 25-73*/
        padding: clamp(0.063rem, -0.269rem + 2.124vw, 0.75rem) clamp(1.563rem, 0.115rem + 9.266vw, 4.563rem);
        /*0.2-0.8*/
        border: clamp(0.013rem, -0.012rem + 0.128vw, 0.05rem) solid $purple-color;
    }
}