:root {
    --preview-opacity: 0.5;
}

$dark-color: #000000;
$dark-color-opacity: #000000dd;
$dark-color-services: #2e2e2e;
$light-color: #FFFFFF;
$purple-color: #724C9D;
$light-purple-color: rgba(114, 76, 157, 0.23);
$light-purple-color-2: #ded6e8;
$beige-color: rgba(245, 245, 245, 0.18);