@import '_patterns.scss';
@import '_variables.scss';
@import '_about.scss';
@import '_contacts.scss';
@import '_header.scss';
@import '_items.scss';
@import '_portfolio.scss';
@import '_services.scss';

body {
    @extend %secondary-font;
}

.preview__container--text,
.about__experience,
h2,
.contacts__text,
.services__h2--modal {
    @extend %primary-font;
}

.about__experience--bold,
.about__experience--bold-2 {
    @extend %third-font;
}

/* + размер текста с портфолио Больше фотографий добавить сюда */
.about__text,
.items__text,
.services__text--modal {
    /*5-30*/
    font-size: clamp(0.313rem, 0.079rem + 1.497vw, 1.875rem);
}

h2,
.contacts__text,
.services__h2--modal {
    /*21-84*/
    font-size: clamp(1.313rem, 0.485rem + 5.294vw, 5.25rem);
    color: $purple-color;
}

h2 {
    text-align: center;
}